*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    columns: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: center;
}

/*heder section*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 12vh;
    padding: auto;
    margin-right: 20px;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;

}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left:0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    transition: .3s ease color;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    display: block;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(240, 248, 255, 0.1);
    font-size: 9rem;
    letter-spacing: 10px;
    z-index: -1;
    transition: .3s ease letter-spacing;
    
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: crimson;
}


#header .hamburger{
    display: inline-block;
    border: 3px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-left: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: ham-puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3 ease;
    transition-property: top , bottom;
}

#header .hamburger .bar::after{
    top:8px
}
#header .hamburger .bar::before{
    bottom:8px
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}

/*end of heder section*/

#hero{
    background-image: url(./images/IMG_8144.JPG);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
    }
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}
#hero h1:nth-child(3){
    animation: text-reveal-name .5s ease forwards;
    animation-delay: 3.5s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text-reveal-box 1s ease;
    animation-delay: 1s;

}
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}
#hero h1:nth-child(3) span{
    animation-delay: 3s;
}
 .cta{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color , color;
}
 .cta:hover {
    color: white;
    background-color: crimson;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: crimson;
}

/*End of Hero section*/

/*About me section*/


#about-me .about-me{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

.section-title span{
    color: crimson;
}
#about-me .about-me-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 50px;
}
#about-me .about-me-top{
    width: 500px;
    margin: 0 auto;
}

#about-me .section-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
#about-me .about-me-item {
    flex-basis: 80%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-image: none;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#about-me .one{
    background-image: url(./images/one.jpg);
}
#about-me .two{
    background-image: url(./images/two.jpg);
}
#about-me .three{
    background-image: url(./images/three.jpg);
}
#about-me .four{
    background-image: url(./images/four.jpg);
}

#about-me .about-me-item::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgb(151, 0, 30) 100%);
    opacity: .2;
    z-index: -1;
}
#about-me .about-me-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;

}
#about-me .about-me-item p {
    color: white;
    text-align: right ;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 20px;
    }

/*end of About me section*/

/*projects section*/

#projects .projects{
    flex-direction:column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}
#projects .project-header h1{
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;

}
#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(80, 79, 79) 0%, rgb(158, 53, 53) 100%);
    color: white;
    z-index: 1;
}
#projects .project-info h1{
    font-size: 3.5rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
#projects .project-info p{
    color: white;
    font-size: 1.3rem;
}
#projects .project-img {
    position: relative;
}
#projects .project-img img{
flex-basis: 50%;
height: 300px;
overflow: hidden;
transform: scale(1.1);
}
#projects .d2d2{
    width: 100%;
    height: 100%;
    transform: scale(1);
    }

#projects .project-img::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(60deg, rgb(80, 79, 79) 0%, rgb(158, 53, 53) 100%);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:.5;
}

#projects .project-item:hover .project-img{
    transform: scale(1.3);
    overflow: hidden;
    z-index: -1;
    transition: .3s ease transform;
}
/*end of projects section*/

/*futuer Section*/
#futuer .futuer{
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.589) 0% , rgba(220, 20, 60, 0.932) 100%);
}
.section-title  .purp{
    color: rgb(233, 27, 68);
    font-weight: 600;
}

#futuer .col-left .futuer-img img{
    width: 600px;
    height: 100%;
    object-fit: contain;
}
#futuer .col-right{
    width: 100%;

}
#futuer .col-right h2{
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 10px;
}
#futuer .col-right p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#futuer .col-right .cta{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#futuer .col-left .futuer-img{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}
#futuer .col-left .futuer-img img{
    border: 10px solid transparent;
}
#futuer .col-left .futuer-img::after{
    content: '';
    position: absolute;
    left: -15px;
    top: 75px;
    height: 98%;
    width: 98%;
    border: 5px solid crimson;
    z-index: -1;
}


/*end of futuer Section*/


/*contact Section*/

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 80%;
}
#contact .contact-item{
    width: 80%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 18px 0 #862a2a85;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #cc3b3b2c;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .icon img{
    height: 80px;
    width: 80px;
}
#contact .info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .info h2{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}
/*end of contact Section*/

/*footer Section*/
#footer {
    background-image: linear-gradient(60deg, rgb(58, 57, 57) 0%, rgb(117, 29, 47) 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin:0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    margin-top: 30px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    transition: .3s ease filter;
}
#footer .social-item:hover{
    filter:grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}



/*end of footer section*/

/*keyframes*/
@keyframes text-reveal-box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal {
    100%{
        color: white;
    }
}
@keyframes text-reveal-name {
    100%{
        color: crimson;
    }
}
@keyframes ham-puls {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
    
}


/*media query for taplet*/
@media only screen and (min-width:1200px){
.cta{
    font-size: 2.5rem;
    padding: 20px 60px;
}
h1 .section-title{
    font-size: 5rem;
}


/*hreo*/
#hero h1{
    font-size: 5rem;
}
/*end ofhreo*/

/*About me section*/
#about-me .about-me-top p{
    font-size: 2rem;
}

#about-me .about-me-item{
    height: 400px;
    width: 80%;
    right: 5.5%;
    margin-bottom: 30px;
    }

    
#about-me .about-me-item h2{
    font-size: 4rem;
    align-self: center;
}
#about-me .about-me-item p{
   
    font-size: 3rem;
    text-align: right;
    line-height: 4rem;
    padding: 0 20px;

}
/*end of About me section*/


/*Project section*/
#projects .project-item{
    flex-direction:row ;
}
#projects .project-item:nth-child(even){
    flex-direction: row-reverse;
}
#projects .project-item{
    align-items: initial;   
}
#projects .project-item{
    height: 400px;
    margin: 0px;
    width: 70%;
    border-radius: 0;
    flex-basis: 50%;
}
#projects .project-item img{
    object-fit: cover;
    height: 400px;
}

#projects .all-projects .project-info{
    height: 100%;
}

/*end of Projects section*/



/*futuer section*/
#furuer .futuer{
    flex-direction: column-reverse;
} 
#futuer .col-right p{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 10px;
    padding: 30px;
}
#futuer .col-right h2{
    margin-top: 40px;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 10px;
}
#futuer .col-left .futuer-img img{
    width: 550px;
    height: 100%;
    object-fit: contain;
}

/*end of futuer*/


/*contact section*/
#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}
#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}
#contact .contact-item{
    width: 30%;
}
#contact .contact-item .icon{
    height: 80px;
    width: 80px;
}
#contact .contact-item .icon img{
    object-fit: contain;
}

/*end of contact*/


}
/*end of media query for taplet*/




/*media query for pc*/

@media only screen and (min-width:1200px) {

/*header*/
#header .hamburger{
    display: none;
}
#header .nav-list ul li{
    display: inline-block;
}
#header .nav-list ul li a{
    font-size: 1.5rem;
}
#header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}
#header .nav-list ul a::after{
    display: none;
}



/*end of header*/
    

}

/*end of media query for pc*/